<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.stockstest.advisor-events</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/zsh</string>
		<string>-lc</string>
		<string>source "$HOME/.webull_env" &amp;&amp; cd /Users/varmakammili/Documents/GitHub/StocksTradingTest &amp;&amp; PYTHONPATH=/Users/varmakammili/Documents/GitHub/StocksTradingTest /opt/anaconda3/envs/llms/bin/python3 -m advisor.events_poller</string>
	</array>
	<key>StartInterval</key>
	<integer>1200</integer>
	<key>StandardErrorPath</key>
	<string>/tmp/advisor-events.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/advisor-events.out</string>
</dict>
</plist>
